<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCr2VQXiKR-Ah6ZcK-aS8l3KqXZkJOWoo</string>
	<key>GCM_SENDER_ID</key>
	<string>642235220959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS.Victor.Notifications</string>
	<key>PROJECT_ID</key>
	<string>notifications-with-fireb-adb7e</string>
	<key>STORAGE_BUCKET</key>
	<string>notifications-with-fireb-adb7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642235220959:ios:249ec63f1a2b31ad037a6a</string>
</dict>
</plist>